<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{{ site.baseurl }}">Report</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
		    <li class="filter" data-filter=".iOS"><a href="#">iOS</a></li>
			<li class="filter" data-filter=".Android"><a href="#">Android</a></li>
			<li class="filter" data-filter=".mobile"><a href="#">Mobile</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort<span class="caret"></span></a>
	      		<ul class="dropdown-menu">
	        		<li><a class="sort" data-sort="myorder:asc" href="#">Red to Green</a></li>
	        		<li><a class="sort" data-sort="myorder:desc" href="#">Green to Red</a></li>
					<li><a class="sort" data-sort="default" href="#">Last Updated</a></li>

	        	</ul>
			</li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>	

	<div class="container">
		<div id="projectcont" class="row projects">
	    {% for post in site.posts %}
	      <div class="mix col-sm-12 col-md-6 col-lg-3 {% for tag in post.tags %}{{ tag }} {% endfor %}" data-myorder="{{ post.status }}">
	      	<a class="card" href="{{ post.url }}">
	      		<h3>{{ post.title }}</h3>
	      		{% if post.summary %}<h5>Summary:</h5>{{ post.summary }}{% endif %}
	      		{% if post.next-steps %}<h5>Next Steps:</h5>{{ post.next-steps }}{% endif %}
		    </a>
		  </div>
	    {% endfor %}
		</div>
	</div>
	{% include footer.html %}
    </body>
</html>