<!DOCTYPE html>
<html>
    <head>
		{% include head.html %}
    </head>
    <body>
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{{ site.baseurl }}">Report</a>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>	

	<div class="container">
		<div id="projectcont" class="row">
			<div class="col-sm-12 card">
			<h2>{{ page.title }}</h2>
      		{% if page.summary %}<h5>Summary:</h5>{{ page.summary }}{% endif %}
      		{% if page.next-steps %}<h5>Next Steps:</h5>{{ page.next-steps }}{% endif %}	
      		<h5>Description:</h5>		
			{{ page.content}}
			</div>
		</div>
	</div>
	{% include footer.html %}
    </body>
</html>